<section class="movie-poster" [class.movie-poster--active]="isSelected" (click)="clickMoviePoster($event, movie)">
  <section class="movie-poster__rotator">
      <div class="movie-poster--front">
          <img class="movie-poster__photo" [src]="'https://image.tmdb.org/t/p//w300'+movie.poster_path" />
      </div>
      <div class="movie-poster--back" *ngIf="isSelected">
          <kdd-icon class="movie-poster__close-button" name="close" (click)="clickMoviePoster($event, null, true)"></kdd-icon>
          <div class="movie-poster__content column">
            <div class="row row--no-margin movie-poster-overview">
              {{movie.overview}}
            </div>
            <div class="movie-poster-stats row middle-xs center-xs">
              <kdd-icon name="vote" class="pl-5 pr-5"></kdd-icon> {{movie.vote_count}}
              <kdd-icon name="popularity" class="pl-5 pr-5"></kdd-icon> {{movie.popularity}}
              <kdd-button class="movie-poster__details-button pl-5">
                <kdd-icon name="info"></kdd-icon>
                DETAILS
              </kdd-button>
            </div>
          </div>
        </div>
  </section>
</section>
